{% extends "layout.html"%}

{% block title %}
    Classic
{% endblock %}

{% block bodyclass %}
    class="classic_bg"
{% endblock %}

{% block content %}
<h1>Classic Movie:</h1>
<h2>{{movie['title']}} ({{movie['release_date'][0:4]}})</h2>
<img src="https://image.tmdb.org/t/p/w342{{movie['poster_path']}}" alt="Movie Poster" width="200"
     height="300">
<br />
<br />
<p>Plot: {{movie['overview']}}</p>
<h2>Why should you watch it?</h2>
<h2>{{reco}}</h2>
<a href="/esp_home" class="btn btn-outline-primary btn-lg">Go back</a>
{% endblock %}