{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block bodyclass %}
    class="p-3 mb-2 bg-gradient-warning text-dark"
{% endblock %}

{% block content %}

<div class="center">
<div class = "row d-flex">
    <div class="card">
            <div class="card-body">
                <h5 class="card-title">Emocional</h5>
                <p class="card-text">Si querés emocionarte viendo alguna peli y hasta soltando alguna lagrima, esta es tu opción.
                    <br />
                    <br />
                    <a href="/emotional_esp" class="btn btn-outline-primary btn-sm main-but">Vamos a llorar todos juntos</a>
                </p>

            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Familiar</h5>
                <p class="card-text">¿Querés ver una peli familiar con un niño y no sabes cuál?
                    <br />
                    <br />
                    <a href="/familiar_esp" class="btn btn-outline-secondary btn-sm main-but">¿Domingo a la mañana? ¡Momento de familia!</a>
                </p>

            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Para reirse</h5>
                <p class="card-text">¿Te querés reir? ¿Te querés reir MUCHO? Esta es tu opción.
                    <br />
                    <br />
                    <a href="/laughable_esp" class="btn btn-outline-success btn-sm main-but">¿Día difícil hoy? ¡A reirse!</a>
                </p>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Miedo</h5>
                <p class="card-text">¿Te querés asustar? No solo ver una de terror, si no REALMENTE asustarte. Esta es tu opción.
                    <br />
                    <br />
                    <a href="/scary_esp" class="btn btn-outline-danger btn-sm main-but">Tipo duro, ¿eh? ¡A asustarte!</a>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Clásica</h5>
                <p class="card-text">Si querés ver alguna de las mejores películas de la historia, esta es tu opción.
                    <br />
                    <br />
                    <a href="/classic_esp" class="btn btn-outline-warning btn-sm main-but">¿Querés un 10/10?</a>
                </p>

            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Reciente</h5>
                <p class="card-text">Si querés ver una peli nuevita y recién estrenada, esta es tu opción.
                    <br />
                    <br />
                    <a href="/fresh_esp" class="btn btn-outline-info btn-sm main-but">¡Recién salida del horno!</a>
                </p>

            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Social</h5>
                <p class="card-text">¿Querés ver una película que reflexione y piense sobre problemas sociales de todo tipo? Esta es tu opción.
                    <br />
                    <br />
                    <a href="/social_esp" class="btn btn-outline-dark btn-sm main-but">Momento de reflexión</a>
                </p>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Divertida</h5>
                <p class="card-text">Si no sabes qué ver, pero querés simplemente pasar un buen rato y divertirte, esta es tu opción.
                    <br />
                    <br />
                    <a href="/fun_esp" class="btn btn-outline-success btn-sm main-but">Vamos a pasar un buen rato</a>
                </p>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Desconocida</h5>
                <p class="card-text">¿Querés ver alguna peli no tan conocida? ¿Una joya oculta? Esta es tu opción.
                    <br />
                    <br />
                    <a href="/unknown_esp" class="btn btn-outline-danger btn-sm main-but">Capaz no la conoces todavía</a>
                </p>

            </div>
        </div>

</div>
</div>
<br/>
<a href="/" class="btn btn-outline-success btn-sm main-but">See the website in English</a>
{% endblock %}