{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block bodyclass %}
    class="p-3 mb-2 bg-gradient-warning text-dark"
{% endblock %}

{% block content %}

<div class = "row d-flex justify-content-center">
    <div class="card">
            <div class="card-body">
                <h5 class="card-title">Emotional</h5>
                <p class="card-text">If you want to get emotional and watch some movies to shed some tears, this is your option.
                    <br />
                    <br />
                    <a href="/emotional" class="btn btn-outline-primary btn-sm">Let's cry all together!</a>
                </p>

            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Family</h5>
                <p class="card-text">Do you want to watch a family movie with a child and don't know which one? This is your option.
                    <br />
                    <br />
                    <a href="/familiar" class="btn btn-outline-secondary btn-sm">Sunday Morning? Family Time!</a>
                </p>

            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Laughable</h5>
                <p class="card-text">Do you want to laugh? Do you REALLY want to laugh? This is your option.
                    <br />
                    <br />
                    <a href="/laughable" class="btn btn-outline-success btn-sm">Rough day today? Let's laugh!</a>
                </p>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Scary</h5>
                <p class="card-text">Do you want to be really scared? Do you want to be afraid the next time you are alone? This is your option.
                    <br />
                    <br />
                    <a href="/scary" class="btn btn-outline-danger btn-sm">Tough guy, ah? Let's Get Scared!</a>
            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Classic</h5>
                <p class="card-text">If you want to see some of the best films in the history of cinema, this is your option.
                    <br />
                    <br />
                    <a href="/classic" class="btn btn-outline-warning btn-sm">You want a 10/10? Greatness Time!</a>
                </p>

            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Fresh</h5>
                <p class="card-text">If you are interested in watching movies that have come out in recent years, fresh from the oven, this is your option.
                    <br />
                    <br />
                    <a href="/fresh" class="btn btn-outline-info btn-sm">Fresh out of the oven!</a>
                </p>

            </div>
        </div>

        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Social</h5>
                <p class="card-text">Movies that reflect and talk about social problems of all kinds? This is your option.
                    <br />
                    <br />
                    <a href="/social" class="btn btn-outline-dark btn-sm">It may be time to reflect</a>
                </p>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Just Fun</h5>
                <p class="card-text">If you don't know what you want to watch, but you just want to have a good time, this is your option.
                    <br />
                    <br />
                    <a href="/fun" class="btn btn-outline-success btn-sm">Let's have a good time</a>
                </p>

            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Unknown</h5>
                <p class="card-text">Do you want to watch some not well-known movies? Hidden gems? This is your option.
                    <br />
                    <br />
                    <a href="/unknown" class="btn btn-outline-danger btn-sm">You may not know this one</a>
                </p>

            </div>
        </div>

</div>
<br/>
<a href="esp_home" class="btn btn-outline-success btn-sm">Ver sitio en español</a>
{% endblock %}